// Seche configuration settings

// Total columns in the grid.
$columns-layout:  12              !default

// Widt of comlumn and gutter width.
$comlumn-width:   60px            !default
$gutter-width:    10px            !default

// Set grid padding.
$column-padding:  $gutter-width   !default
