body
  header
    +container()

  .container
    background: url('images/960-grid.gif') repeat-y center top
    +container()

    height: 500px

    .col-8
      background: url('images/baseline_24px.png') repeat center top
      +column(8)
      text-align: justify

    aside
      +column(4)
      text-align: justify

    > aside
      +column(4)
