/* line 2, _base.sass */
body header {
  width: 960px;
  margin: 0 auto; }
/* line 5, _base.sass */
body .container {
  background: url("images/960-grid.gif") repeat-y center top;
  width: 960px;
  margin: 0 auto;
  height: 500px; }
  /* line 11, _base.sass */
  body .container .col-8 {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 620px;
    text-align: justify; }
  /* line 15, _base.sass */
  body .container aside {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    text-align: justify; }
  /* line 19, _base.sass */
  body .container > aside {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px; }
